.category-view-container {
  @media screen and (max-width: 800px) {
    padding: 0 25px !important;
    .category-arrow {
      width: 20px !important;

      &.left {
        left: -25px !important;
      }

      &.right {
        right: -25px !important;
      }
    }
  }
}

.slick-track {
  // makes sure that less videos than upperlimit are placed left-aligned
  margin-left: 0 !important;
}
