#interactive-map {
  position: relative;
  div {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 10;

    h4 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
    }
  }
  @media screen and (max-width: 900px) {
    div {
      display: block;
    }
  }
}
