a.active {
  text-decoration: underline;
}

.navbar-nav {
  margin: auto;
}

.center-links {
  position: relative;

  @media screen and (min-width: 750px) {
    .navbar-collapse {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -10;
    }
  }
}
