@import '../theme.scss';

.navbar-nav {
  margin: auto;
}

.nav-link {
  span {
    position: relative;
  }
  span::after {
    content: '';
    border-bottom: solid 2px map-get($map: $theme-colors, $key: primary);
    width: 0;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 300ms;
  }

  &.active,
  &:hover {
    span::after {
      width: 100%;
    }
  }
}

.center-links {
  position: relative;

  @media screen and (min-width: 750px) {
    .navbar-collapse {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -10;
    }
  }
}
