@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~react-video-play/public/css/react-video-play.css';

@import './theme.scss';
@import 'node_modules/bootstrap/scss/bootstrap';

@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import 'node_modules/video-react/styles/scss/video-react';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
